body {
    margin: 0;
    padding: 0;
    background: url('../asset/img/Library.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signup_form {
    width: 300px;
    padding: 30px 25px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin: 60px auto;
    color: white;
    border: 4px solid #ffffff93;
}

.signup_form h2 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.signup_form input[type="text"],
.signup_form input[type="password"] {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: black;
    outline: none;
}

.signup_form input::placeholder {
    color: #000000;
}
.signup_form button {
    width: 100%;
    padding: 10px;
    margin-top: 140px;
    background: #520404;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup_form button:hover {
    background: #b30000;
}

.signup_form p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #ccc;
}

.signup_form a {
    color: white;
    text-decoration: underline;
}
